.card:hover {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
}

.link:hover {
  text-decoration: none;
}

.listElement {
  color: white;
}

.listElement:hover {
  cursor: pointer;
  background-color: rgb(177, 177, 177);
  border-radius: 50px;
}

.postButton:hover {
  cursor: pointer;
  background-color: rgb(119, 119, 119);
}

.friend {
  color: white;
}

.friend:hover {
  cursor: pointer;
  background-color: rgb(119, 119, 119);
  border-radius: 50px;
  text-decoration: none;
}

.search-card:hover {
  cursor: pointer;
  background-color: rgb(179, 179, 179);
  text-decoration: none;
}

.profile-header {
  width: fill;
}

.profile-tab:hover {
  cursor: pointer;
  background-color: rgb(138, 137, 137);
}
